{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>O Nas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                DOCTOPHOTO
            </div>
            <ul>
                <li><a href="welcome">Strona Główna</a></li>
                <li class="active"><a href="#">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="title-about">
           <h1>O NAS</h1>
        </div>
        <div class="aboutus">Jesteśmy Studentami PJATK Gdańsk. Jeśli ktoś chce utworzyć konto dla lekarza prosimy o kontakt.</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{%  static 'dtp/images/swierszcz.jpg' %}">
      <img src="{%  static 'dtp/images/swierszcz.jpg' %}" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Martyna Świerszcz</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{%  static 'dtp/images/wojtek.jpg' %}">
      <img src="{%  static 'dtp/images/wojtek.jpg' %}" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Wojciech Skarbek</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{%  static 'dtp/images/dzik.jpg' %}">
      <img src="{%  static 'dtp/images/dzik.jpg' %}" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Maciej Dudzik</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{%  static 'dtp/images/mag.jpg' %}">
      <img src="{%  static 'dtp/images/mag.jpg' %}" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Filip Magdziak</div>
  </div>
</div>

<div class="clearfix"></div>
    </header>
</body>
</html>