{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>O Nas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{%  static 'dtp/images/logo.png' %}">
            </div>
            <ul>
                <li><a href="welcome">Strona Główna</a></li>
                <li class="active"><a href="#">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="title2">
           <h1>O NAS</h1>
        </div>
        <div class="container">
            <div class="about" id="about">
                <div class="row">
                    Jesteśmy grupką studentów PJATK Gdańsk
                <br>
                    <div class="column">
                    <figure>
                    <img src="{%  static 'dtp/images/Sett.jpg' %}" alt="Wojtek Skarbek" style="width:128px;height:128px;">
                    <figcaption>Wojciech Skarbek</figcaption>
                    </figure>
                        </div>
                <div class="column">
                    <figure>
                    <img src="{%  static 'dtp/images/dzik.jpg' %}" alt="Maciej Dudzik" style="width:128px;height:128px;">
                    <figcaption>Maciej Dudzik</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                    <img src="{%  static 'dtp/images/swierszcz.jpg' %}" alt="Martyna Świerszcz" style="width:128px;height:128px;">
                    <figcaption>Martyna Świerszcz</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                    <img src="{%  static 'dtp/images/mag.jpg' %}" alt="Filip Magdziak" style="width:128px;height:128px;">
                    <figcaption>Filip Magdziak</figcaption>
                    </figure>
                </div>
                </div>
             </div>
        </div>
    </header>
</body>
</html>