{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
    <meta charset="utf-8" />
</head>
<body>
    <div class="addForm">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% if messages %}
                <h5 class="errormessage">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </h5>
            {% endif %}
            {{ form.errors }}
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label><br>
            {{ form.title }}<br><br>
            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label><br>
            {{ form.description }}<br><br>
            <label for="{{ form.patient.id_for_label }}">{{ form.patient.label }}</label><br>
            {{ form.patient }}<br><br>
            <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label><br>
            {{ form.photo }}<br><br>
            <label for="{{ form.pub_date.id_for_label }}">{{ form.pub_date.label }}</label><br>
            {{ form.pub_date }}<br><br>
            <button type="submit">Dodaj</button>
            <button id="back" onclick="window.location.href='/dtp/index'">Cofnij</button>
        </form>
    </div>
</body>
</html>