{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                DOCTOPHOTO
            </div>
            <ul>
                <li><a href="welcome">Strona Główna</a></li>
                <li><a href="about">O Nas</a></li>
                <li class="active"><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <div class="title-contact">
           <h1>KONTAKT</h1>
        </div>
        <div class="contact">
            <div class="about" id="about">
                contact.doctophoto@gmail.com
            </div>
        </div>
    </header>
</body>
</html>