{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{%  static 'dtp/images/logo.png' %}">
            </div>
            <ul>
                <li class="active"><a href="index"><- powrót do badań</a></li>
                <li><a href="welcome">Strona Główna</a></li>
                <li><a href="about">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>

        <div class="container">
            <div class="table" style="left: 55%;">
                <table style="width: 80%; pointer-events:none;">
                    <tr>
                        <th colspan="3">Zdjęcia RTG</th>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="{%  static 'dtp/images/dzik.jpg' %}" alt="Zdj1" style="width:400px; height:200px;"> <br>
                        <img src="{%  static 'dtp/images/swierszcz.jpg' %}" alt="Zdj2" style="width:400px;height:200px;"></td>
                    </tr>
                    <tr>
                        <th>Data</th>
                        <th>Lekarz</th>
                        <th>Pacjent</th>
                    </tr>
                    <tr>
                        <td>17.11.2020</td>
                        <td>dr Wojtek Magdziak</td>
                        <td>Maciej Duzik</td>
                    </tr>
                    <tr>
                        <th colspan="3"> Opis badania</th>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding: 10px">Ciężkie złamanie kości jakiejśtam.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum diam tempor pellentesque iaculis. Vivamus eget congue nibh. Morbi id elit eu erat pretium sollicitudin a ut enim. Proin molestie condimentum diam, et consectetur tellus aliquet nec. Morbi consectetur ullamcorper odio at congue. Aliquam tempor at lacus id ultrices. Nunc sed ultrices nisi, non porttitor eros. Praesent tempus egestas libero, vitae vulputate lacus. Vestibulum augue nunc, condimentum eget varius nec, porttitor a nunc. Sed augue ex, eleifend quis nibh vitae, auctor scelerisque lectus. Pellentesque consequat, lacus a congue dignissim, ante dui auctor quam, a sodales ante lacus a urna.</td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
</body>
</html>