{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{%  static 'dtp/images/logo.png' %}">
            </div>
            <ul>
                <li class="active"><a href="../index"><- powrót do badań</a></li>
                <li><a href="#popup4">Edytuj Opis</a></li>
                <li><a href="../welcome">Strona Główna</a></li>
                <li><a href="../about">O Nas</a></li>
                <li><a href="../contact">Kontakt</a></li>
            </ul>
        </div>

        <div class="container">
            <div class="table">
                <table style="pointer-events:none;">
                    <tr>
                        <th colspan="3">Zdjęcia RTG</th>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="{%  static 'dtp/images/dzik.jpg' %}" alt="Zdj1" style="width:400px; height:200px;"> <br>
                        <img src="{%  static 'dtp/images/swierszcz.jpg' %}" alt="Zdj2" style="width:400px;height:200px;"></td>
                    </tr>
                    <tr>
                        <th>Data</th>
                        <th>Lekarz</th>
                        <th>Pacjent</th>
                    </tr>
                    <tr>
                        <td>{{ exam.pub_date }}</td>
                        <td>{{ exam.doctor.title.short }} {{ exam.doctor.user.last_name }} {{ exam.doctor.user.first_name }}</td>
                        <td>Maciej Dudzik</td>
                    </tr>
                    <tr>
                        <th colspan="3">Opis badania</th>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding: 10px">{{ exam.description }}</td>
                    </tr>
                </table>

            </div>
            <div id="popup4" class="overlay">
                    <div class="popup">
                        <h2>Dodaj Opis</h2>
                        <br>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <form>
                                <label for="popupfile">Dodaj Zdjęcie</label>
                                <input type="file" id="popupfile"><br><br>
                                <textarea rows="10" cols="50" placeholder="Noga złamana w pół">
                                </textarea><br>
                                <label for="patientlabel">Pacjent:</label>
                                <input type="text" id="patientlabel" placeholder="Milip Fagdziak"><br><br>
                                <input type="datetime-local"><br><br>
                                <input type="submit" id="submit4" value="Zatwierdź"/>
                            </form>
                        </div>
                    </div>
            </div>
    </header>
</body>
</html>