{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{%  static 'dtp/images/logo.png' %}">
            </div>
            <ul>
                <li class="active"><a href="#">Strona Główna</a></li>
                <li><a href="about">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="table" style="left: 60%; top:20%;">
                <table style="width: 60%">
                    <tr style="pointer-events:none;">
                        <th>Nazwa</th>
                        <th>Data</th>
                        <th>Lekarz</th>
                    </tr>
                    {% for item in examination_list %}
                    <tr onclick="window.location='examination';" style="cursor:pointer;">
                        <td class="piwo">{{ item.title }}</td>
                        <td>{{ item.pub_date }}</td>
                        <td>{{ item.doctor.title.short }} {{ item.doctor.user.last_name }} {{ item.doctor.user.first_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </header>
</body>
</html>