{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
    <meta charset="utf-8" />
</head>
<body>
        <div class="navbar">
            <div class="logo">
                DOCTOPHOTO
            </div>
            <ul>
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </div>
        <div class="list-content">
            <h2>Witaj, {{ first_name }} {{ last_name }}!</h2><br/>
            {% if is_doctor %}
            <button onclick="location.href='/dtp/addExamination'" type="button">Dodaj badanie</button>
            {% endif %}
            <input type="text" id="search-exam" onkeyup="search(0)" placeholder="Szukaj badania..."><br/>
            <div class="table">
                <table id="list-table">
                    <tr id="list-head">
                        <th onclick="sortTable(0)">&#x21D5; Nazwa</th>
                        <th onclick="sortTable(1)">&#x21D5; Data</th>
                        {% if is_doctor %}
                            <th onclick="sortTable(2)">&#x21D5; Pacjent</th>
                        {% else %}
                            <th onclick="sortTable(2)">&#x21D5; Lekarz</th>
                        {% endif %}
                    </tr>
                    {% for item in examination_list %}
                    <tr onclick="window.location='examination/{{ item.id }}';">
                        <td class="exam">{{ item.title }}</td>
                        <td>{{ item.pub_date|date:"Y, E d, G:i" }}</td>
                        {% if is_doctor %}
                            <td>{{ item.patient.last_name }} {{ item.patient.first_name }}</td>
                        {% else %}
                            <td>{{ item.doctor.title.short }} {{ item.doctor.user.last_name }} {{ item.doctor.user.first_name }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</body>
</html>

<script>
    function search(n) {
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-exam");
        filter = input.value.toUpperCase();
        table = document.getElementById("list-table");
        tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[n];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    function sortTable(n) {
        let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("list-table");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir === "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir === "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount === 0 && dir === "asc") {
                dir = "desc";
                switching = true;
                }
            }
        }
    }
</script>