{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>

        <div class="navbar">
            <div class="logo">
                DOCTOPHOTO
            </div>
            <ul>
                <li class="active"><a href="#">Strona Główna</a></li>
                <li><a href="about">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>

        <div class="list-content">
        <button onclick="location.href='#popup-add'" type="button">Dodaj badanie</button>
            <div class="table">
                <table>
                    <tr id="list-head" style="pointer-events:none;">
                        <th>Nazwa</th>
                        <th>Data</th>
                        <th>Lekarz</th>
                    </tr>
                    {% for item in examination_list %}
                    <tr onclick="window.location='examination/{{ item.id }}';">
                        <td class="exam">{{ item.title }}</td>
                        <td>{{ item.pub_date }}</td>
                        <td>{{ item.doctor.title.short }} {{ item.doctor.user.last_name }} {{ item.doctor.user.first_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
         <div id="popup-add" class="overlay">
             <div class="popup">
                 <h2>Dodaj badanie</h2>
                 <br>
                 <a class="close" href="#">&times;</a>
                 <div class="content">
                     <form>
                         <label for="popupfile">Dodaj zdjęcie</label>
                         <input type="file" id="popupfile"><br><br>
                         <textarea rows="10" cols="50" placeholder="Noga złamana w pół"/>
                         </textarea><br>
                         <label for="patientlabel">Pacjent:</label>
                         <input type="text" id="patientlabel" placeholder="Milip Fagdziak"><br><br>
                         <input type="datetime-local"><br><br>
                         <input type="submit" id="submit5" value="Zatwierdź"/>
                     </form>
                 </div>
             </div>
         </div>

</body>
</html>