{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{%  static 'dtp/images/logo.png' %}">
            </div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>ZALOGUJ SIĘ JAKO</h1>
        </div>
        <div class="button">
            <a href="#popup1" class="btn">PACJENT</a>
            <a href="#" class="btn">LEKARZ</a>
        </div>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>wpisz1</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    wpisz2
                </div>
            </div>
        </div>
    </header>
</body>
</html>