{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                DOCTOPHOTO
            </div>
            <ul>
                <li class="active"><a href="#">Strona Główna</a></li>
                <li><a href="about">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Witamy w Doctophoto</h1>
        </div>
        <div class="button">
            <a href="#popup-login" class="btn">Zaloguj się</a>
            <a href="#popup-regis" class="btn">Zarejestruj się</a>
        </div>
        <div id="popup-login" class="overlay">
            <div class="popup">
                <h2>Logowanie</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action="{% url 'welcome' %}" method="POST">
                        {% csrf_token %}
                        {% if messages %}
                            <h5 class="errormessage">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </h5>
                        {% endif %}
                        <label for="{{ log_form.username.id_for_label }}">{{ log_form.username.label }}</label><br>
                        {{ log_form.username }}<br><br>
                        <label for="{{ log_form.password.id_for_label }}">{{ log_form.password.label }}</label><br>
                        {{ log_form.password }}<br><br>
                        <input type="submit" id="submit2" name="submit_login" value="Zaloguj się"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="popup-regis" class="overlay">
            <div class="popup">
                <h2>Rejestracja</h2>
                <br>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action = "{% url 'welcome' %}" method="POST">
                        {% csrf_token %}
                        {{ reg_form.errors }}
                        <label for="{{ reg_form.first_name.id_for_label }}">{{ reg_form.first_name.label }}</label><br>
                        {{ reg_form.first_name }}<br>
                        <label for="{{ reg_form.last_name.id_for_label }}">{{ reg_form.last_name.label }}</label><br>
                        {{ reg_form.last_name }}<br>
                        <label for="{{ reg_form.username.id_for_label }}">{{ reg_form.username.label }}</label><br>
                        {{ reg_form.username }}<br>
                        <label for="{{ reg_form.email.id_for_label }}">{{ reg_form.email.label }}</label><br>
                        {{ reg_form.email }}<br>
                        <label for="{{ reg_form.password.id_for_label }}">{{ reg_form.password.label }}</label><br>
                        {{ reg_form.password }}<br><br>
                        <input type="submit" id="submit3" name="submit_register" value="Zarejestruj się">
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>
</html>