{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Doc To Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dtp/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                DOCTOPHOTO
            </div>
            <ul>
                <li class="active"><a href="#">Strona Główna</a></li>
                <li><a href="about">O Nas</a></li>
                <li><a href="contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>ZALOGUJ SIĘ JAKO</h1>
        </div>
        <div class="button">
            <a href="#popup1" class="btn">PACJENT</a>
            <a href="#popup2" class="btn">LEKARZ</a>
        </div>
        <div class="register">
           <h2>Pacjencie! Nie masz konta? <a href="#popup3">Zarejestruj się!</a></h2>
        </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Logowanie pacjenta</h2>
                <br>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action="{% url 'login_patient' %}" method="POST">
                        {% csrf_token %}
                        {{ log_patient_form.errors }}
                        <label for="{{ log_patient_form.username.id_for_label }}">{{ log_patient_form.username.label }}</label><br>
                        {{ log_patient_form.username }}<br><br>
                        <label for="{{ log_patient_form.password.id_for_label }}">{{ log_patient_form.password.label }}</label><br>
                        {{ log_patient_form.password }}<br><br>
                        <input type="submit" id="submit2" name="submit_login" value="Zaloguj się"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="popup2" class="overlay">
            <div class="popup">
                <h2>Logowanie lekarza</h2>
                <br>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action="/account/login/patient" method="POST">
                        <label for="email2">Email:</label><br>
                        <input type="email" id="email2" name="email"><br>
                        <br>
                        <label for="pwd2">Hasło:</label><br>
                        <input type="password" id="pwd2" name="pwd2"><br>
                        <br>
                        <input type="submit" id="submit2" name="submit_login" value="Zaloguj się">
                    </form>
                </div>
            </div>
        </div>
        <div id="popup3" class="overlay">
            <div class="popup">
                <h2>Rejestracja</h2>
                <br>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <form action = "{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        {{ reg_form.errors }}
                        <label for="{{ reg_form.first_name.id_for_label }}">{{ reg_form.first_name.label }}</label><br>
                        {{ reg_form.first_name }}<br>
                        <label for="{{ reg_form.last_name.id_for_label }}">{{ reg_form.last_name.label }}</label><br>
                        {{ reg_form.last_name }}<br>
                        <label for="{{ reg_form.username.id_for_label }}">{{ reg_form.username.label }}</label><br>
                        {{ reg_form.username }}<br>
                        <label for="{{ reg_form.email.id_for_label }}">{{ reg_form.email.label }}</label><br>
                        {{ reg_form.email }}<br>
                        <label for="{{ reg_form.password.id_for_label }}">{{ reg_form.password.label }}</label><br>
                        {{ reg_form.password }}<br>
                        <input type="submit" id="submit3" name="submit_register" value="Zarejestruj się">
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>
</html>